<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://192.168.2.3:3306/esh</property>
        <property name="connection.username">jimmy</property>
        <property name="connection.password">jimmy</property>

        <property name="connection.pool_size">2</property>
        <property name="show_sql">false</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="current_session_context_class">thread</property>
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <mapping class="com.lee.example.h.entity.Dict"/>
        <mapping class="com.lee.example.h.entity.Group"/>
        <mapping class="com.lee.example.h.entity.Role"/>
        <mapping class="com.lee.example.h.entity.User"/>

    </session-factory>
</hibernate-configuration>