<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} |- %-5p %c{15}.%M\(\) \(%F %L\) - %m %rEx %n</pattern>
        </encoder>
    </appender>

    <appender name="PERF_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>target/app_logs/perf.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>target/app_logs/perf-%d{yyyy-MM-dd_HH}.%i.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>10MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%m%n</pattern>
        </encoder>
    </appender>
    <!-- app logs -->
    <logger name="com.lee.example.shja" level="TRACE" />
    
    <!-- performance logs -->
    <logger name="org.perf4j.TimingLogger" level="INFO" additivity="false">
        <appender-ref ref="PERF_FILE" />
    </logger>
    <!-- Spring's logs -->
    <logger name="org.springframework" level="WARN" />
    <logger name="org.springframework.beans.factory.xml.XmlBeanDefinitionReader" level="INFO" />
     <!-- hibernate's logs -->
    <logger name="com.atomikos" level="ERROR" />
    <logger name="org.hibernate" level="INFO" />
    <logger name="org.hibernate.dialect.Dialect" level="WARN" />
    <logger name="org.hibernate.cfg.Environment" level="WARN" />
    <logger name="org.hibernate.Version" level="WARN" />
    <logger name="org.hibernate.annotations.common.Version" level="WARN" />
    <logger name="org.hibernate.SQL" level="DEBUG" />
    <logger name="org.hibernate.type" level="WARN" />
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" />
    <logger name="org.hibernate.tool.hbm2ddl" level="INFO" />
    <logger name="org.hibernate.hql" level="INFO" />
    <logger name="org.hibernate.cache" level="INFO" />
    <logger name="org.hibernate.transaction" level="DEBUG" />
    <logger name="org.hibernate.jdbc" level="DEBUG" />
    <logger name="org.hibernate.orm.deprecation" level="ERROR" />
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
